<div class="container mt-5">
  <h1 class="mb-4">Students</h1>
  <ul class="list-group">
    <% @students.each do |student| %>
      <li class="list-group-item">
        <%= link_to student.name, student %>
      </li>
    <% end %>
  </ul>
</div>
